<div class="header d-flex justify-content-between align-items-center py-3 row">
  <div class="col-6 col-lg-7 hamburger">
    <i class='bx bx-align-left fs-3 d-lg-none '></i>
  </div>

  <div class="col-6 col-lg-5 right-element d-flex justify-content-between align-items-center pe-5">
    <button class="btn btn-primary mx-4"><i class='bx bx-trending-up mx-1' ></i>Start Challenge</button>
    <div class="bell-container position-relative">
      <a class="bell position-absolute" href="#"><i class='bx bxs-bell fs-4' ></i></a>
    </div>
    <div class="profile">
      <div>
        <img>
      </div>
      <p>Abadom E.</p>
    </div>

  </div>
</div>