 <div class="bg-body-tertiary py-2">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><span class="fw-bold text-primary">Wealth</span>Capital</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 pe-5 cursor-pointer">
                  <li class="nav-item">
                    <a class="nav-link active px-4" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-4" href="#">Pricing</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Trading
                    </a>
                    <ul class="dropdown-menu cursor-pointer">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-4">FAQs</a>
                  </li>
                  <li class="nav-item px-4">
                    <a class="nav-link">About Us</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <a routerLink="/auth/signin"><button   class="btn btn-outline-primary" type="submit">Client Area</button></a>
                </form>

                
              </div>
            </div>
        </nav>
    </div>
</div>

<div class="intro-section text-white">
  <div class="container">
    <div class="row ">
      <div class="col-12 col-md-6 my-auto">
        <h5 class="mb-4">You Profit, We Risk</h5>
        <h1 class="mb-3">Funding Promising<br><span class="text-secondary"> Traders</span> Worldwide</h1>
        <p>Earn up to 95% of the profits by trading up to $300,000 on a Wealth Capital Account and maximize your trading success with Wealth Capital.</p>
        <div class="g-2">
          <button class="btn btn-outline-primary mx-2">Start Trading</button>
          <button class="btn btn-primary">Join Our Community</button>
        </div>

      </div>
      <div class="col-12 col-md-6 d-none d-md-block">
        <img class="img-fluid mx-auto" src="assets/images/trading-phone.jpg">
      </div>
    </div>
  </div>
</div>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
</div>
<!-- TradingView Widget END -->

<div class="container">
  <h1 class="text-center"><span>Statistics</span> We Love</h1>
  <div class="row text-center">
    <div class="col-6 col-md-3 banner">
      <h2>195+</h2>
      <h4>Countries Covered</h4>
    </div>
    <div class="col-6 col-md-3 banner">
      <h2>195+</h2>
      <h4>Countries Covered</h4>
    </div>
    <div class="col-6 col-md-3 banner">
      <h2>195+</h2>
      <h4>Countries Covered</h4>
    </div>
    <div class="col-6 col-md-3 banner">
      <h2>195+</h2>
      <h4>Countries Covered</h4>
    </div>
  </div>
</div>




