.pointer{
    cursor: pointer;
}


h1{
    font-size: calc(1.3em + 1vw);
    font-weight: var(--fw-8);
    line-height: 1;
}

h2{
    font-size: 2.5em;
}

h3{
    font-size: 1.2em;
    font-weight: var(--fw-7);
}

h4{
    font-size: 1em;
    font-weight: var(--fw-6)
}

.primary-color{
    color: var(--color-main);
}

.primary-background{
    background: var(--color-main);
}

/* HEADER */
.header{
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
}

.nav-links{ 
    display: flex;
    gap: 60px;
    align-items: center;
}

.nav-links li{
    font-size: 20px;
    font-weight: 600;
}

.nav-links li:hover{
    text-decoration: underline;
    color: var(--color-main);
    transition: 2s ease-in;
}

.nav-links a{
    text-decoration: none;
    cursor: pointer;
}

.client-area{
    width: 120px;
    height: 40px;
    font-size: 15px;
    background-color: var(--color-main);
    color: #ffffff;
    border: none;
}

.client-area:hover {
    background-color: white;
    color: var(--color-main);
    border: 2px solid var(--color-main);
}

.navbar ul{
    font-weight: bold;
}

.collapse form a button{
    border: 1.5px solid var(--color-main);
    color: var(--color-main);
    transition: all 0.1s ease;
}

.collapse form a button:hover{
    border: 1.5px solid var(--color-main);
    color: var(--white-color);
    background: var(--color-main);
}

/* INTRO SECTION */
.intro-section{
    background: linear-gradient(125deg, var(--color-main), #242121, #000);
}


.forex-carousel{
    min-height: 100vh;
}

.forex-continer{
    padding: 10px 20px;
}

.container .coin-price{
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc;
}

.intro-section img{
    border: none;

}

.btn-community{
    background: #000000;
    border: 2px solid var(--color-main);
}

.btn-community:hover{
    background: var(--color-main);
}

/* Get Started */

.get-started-title{
    color: var(--color-main) ;

}

.get-started{
    padding-top: 50px;
}

.steps-container{
    background: var(--color-main);
    border-radius: 15px;
}                                   

.outer-circle{
    left: 50%;
    bottom: 75%;
    width: 80px;
    height: 80px;
    background: var(--white-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inner-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--color-main);
    color: var(--white-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.get-started p{
    font-size: 0.875em;
}

/* Account Categories */
.act-cat{
    background: var(--color-main);
}

.skill-cat{
    background-color: #ccc;
    


}




/* MEDIA QUERIES */