 <div class="bg-body-tertiary py-2">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand fs-3" href="#"><span class="fw-bold primary-color">Wealth</span>Capital</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 pe-5 cursor-pointer">
                  <li class="nav-item">
                    <a class="nav-link active px-4" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-4" href="#">Pricing</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Trading
                    </a>
                    <ul class="dropdown-menu cursor-pointer">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-4" href="#">FAQs</a>
                  </li>
                  <li class="nav-item px-4">
                    <a class="nav-link" href="#">About Us</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <a routerLink="/auth/signin"><button   class="btn" type="submit">Client Area</button></a>
                </form>              
              </div>
            </div>
        </nav>
    </div>
</div>

<div class="intro-section text-white">
  <div class="container ">
    <div class="row">
      <div class="col-12 col-md-6 my-auto py-3 ">
        <h5 class="mb-4">Profitable Simulated Trading</h5>
        <h1 class="mb-3">Funding Available For<br><span class="text-dark fw-bolder"> Great </span>Traders</h1>
        <p>Earn up to 95% of the profits by trading up to $300,000 on a Wealth Capital Account and maximize your trading success with Wealth Capital.</p>
        <div class="g-2 mt-5">
          <button class="btn primary-background text-white mx-3">Start Trading</button>
          <button class="btn primary-background text-white btn-community">Join Our Community</button>
        </div>

      </div>
      <div class="col-12 col-md-6 d-none d-md-block">
        <img class="img-fluid mx-auto" src="assets/images/trading-phone.jpg">
      </div>
    </div>
  </div>
</div>


<!-- SECTION -->
<section class="get-started">
  <div class="container">
    <div class="get-started-title text-center fs-1 fw-bold">
      <p>Get your First Payout</p>
      <p>In 3 Simple Stages</p>
    </div>
    <div class="row my-5 gy-5">
      <div class="col-12 col-lg-4 mb-4 position-relative">
        <div class="steps-container p-3 text-center text-white">
          <h3 class="fw-bold mt-5">Stage One</h3>
          <h4 class="mb-3">Evaluation Phase</h4>
          <p class="mx-3">
            In order to become an Wealth Capital trader, begin by taking our challenge and prove you have a 
            legitimate edge in the market. View our rules below to see what parameters you need to 
            trade within to pass.During the Wealth Capital Challenge step, traders are placed in a demo 
            environment that looks to simulate the real market via latency and static slippage 
            associated with the size of your order.
          </p>
        </div>
        <div class="outer-circle position-absolute px-auto">
          <div class="inner-circle py-auto"><span class="fs-4 fw-bold">01</span></div>
        </div>
      </div>
      <div class="col-12 col-lg-4 position-relative">
        <div class="steps-container p-3 text-center text-white">
          <h3 class="fw-bold mt-5">Stage Two</h3>
          <h4 class="mb-3">Verification Phase</h4>
          <p class="mx-3">
            In order to become an Wealth Capital trader, begin by taking our challenge and prove you have a 
            legitimate edge in the market. View our rules below to see what parameters you need to 
            trade within to pass.During the Wealth Capital Challenge step, traders are placed in a demo 
            environment that looks to simulate the real market via latency and static slippage 
            associated with the size of your order.
          </p>
        </div>
        <div class="outer-circle position-absolute px-auto">
          <div class="inner-circle py-auto"><span class="fs-4 fw-bold">02</span></div>
        </div>
      </div>
      <div class="col-12 col-lg-4 position-relative">
        <div class="steps-container p-3 text-center text-white">
          <h3 class="fw-bold mt-5">Stage Three</h3>
          <h4 class="mb-3">Profit Split Phase</h4>
          <p class="mx-3">
            In order to become an Wealth Capital trader, begin by taking our challenge and prove you have a 
            legitimate edge in the market. View our rules below to see what parameters you need to 
            trade within to pass.During the Wealth Capital Challenge step, traders are placed in a demo 
            environment that looks to simulate the real market via latency and static slippage 
            associated with the size of your order.
          </p>
        </div>
        <div class="outer-circle position-absolute px-auto">
          <div class="inner-circle py-auto"><span class="fs-4 fw-bold">03</span></div>
        </div>
      </div>
    </div>
  </div> 

</section>

<!-- ==========================ACCOUNT CATEGORIES================== -->
<section class="act-cat">
  <div class="container px-auto w-">
    <div class="skill-cat">
      <ul>
        <li><a href="#">Standard</a></li>
        <li><a href="#">Skilled</a></li>
      </ul>
    </div>
  </div>

</section>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
</div>
<!-- TradingView Widget END -->





