<div class="header d-flex align-items-center justify-content-between ps-1">
    <div class="toggler fs-2">
        <i (click)="toggle()" class='bx bx-menu-alt-left'></i>
        
    </div>
    <div class="right d-flex align-items-center">
        <button class="btn mx-5d-flex align-items-center"><i class='bx bx-wallet pe-2'></i> Purchase Challenge</button>
        <i class='bx bxs-bell fs-2 mx-5'></i>
        <div class="profile d-flex align-items-center px-2 py-2 cursor-pointer">
            <span class="profile-picture mx-2">
                <img src="assets/images/pfp.jpg">
            </span>
            <span>Abadom E.</span>
        </div>
        
    </div>
    <div class="d-md-none">
        <i class="bx bx-menu fs-2" id="header-toggle"></i>
    </div>
</div>