<div class="contain px-4 py-3">
    <div class="act-overview mb-4">
        <div class="act-summary row px-3 py-3">
            <div class="col-12 col-lg-3 d-flex justify-content-between align-items-center">
                <div>
                    <!-- <div class="act-dp">
                    <img src="assets/images/pfp.jpg">
                    </div> -->
                    <div>
                        <h4 class="act-title">Hello Emeka Abadom !</h4>
                        <span class="">Currently, you have an Express account</span>
                        <ul>
                            <li><i class='bx bx-badge-check text-warning'></i> Initial Balance: 50000</li>
                            <li><i class='bx bx-badge-check text-warning'></i> Plan Type: Express Demo|50k</li>
                            <li><i class='bx bx-badge-check text-warning'></i> Account Type: Swap</li>
                        </ul>
                    </div>
                </div>
                <div class="divider ms-2"></div>
                
               
            </div>
            
            <div class="col-12 col-lg-7 d-flex justify-content-between align-items-center">
                <div>
                    <h4 class="act-title"><i class='bx bx-shield-quarter fs-5'></i> Account Details</h4>
                    <div class="row gy-2">
                        <div class="col-12 col-md-6">
                            <div class="act-detail-item px-3 py-3">
                                <span>Login</span>
                                <span>abadomemeka@gmail.com</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="act-detail-item px-3 py-3">
                                <span>Investor Password</span>
                                <span>123456</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="act-detail-item px-3 py-3">
                                <span>Master Password</span>
                                <span>******</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="act-detail-item px-3 py-3">
                                <span>Server</span>
                                <span>wealth-server</span>
                            </div>
                        </div>
                    </div>

                </div>
                
                <div class="divider ms-2"></div>
            </div>
            <div class="col-12 col-lg-2">
                <h4 class="act-title mb-3">Trading Circle Details</h4>
                <p>Start Date: Dec 5, 2022</p>
                <p>End Date: Dec 31, 2022</p>
            </div>
        </div>
    </div>

    <div class="act-statistics">
        <div class="row">
            <div class="col-12 col-md-8 px-0">
                <!-- Stats -->
                <div class="act-stat act-card px-3 py-3 mb-4">
                    <div class="fw-bold d-flex align-items-center">
                        <i class='bx bxl-mastercard fs-2 pe-3'></i>
                        <span class="fw-bold fs-4 ">Stats</span>
                    </div> 
                    <div class="vert-divider">

                    </div>
                    <div class="py-3 row gy-3">
                        <div class="col-6 col-lg-3">
                            <div class="act-stat-item py-2 px-3">
                                <i class='bx bx-dollar-circle mb-2 fs-3' ></i>
                                <span class="">$50,000</span>
                                <p>Balance</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="act-stat-item py-2 px-3">
                                <i class='bx bx-dollar-circle mb-2 fs-3' ></i>
                                <span class="">$8,500</span>
                                <p>Profit/Loss</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="act-stat-item py-2 px-3">
                                <i class='bx bx-dollar-circle mb-2 fs-3' ></i>
                                <span class="">$0</span>
                                <p>Drawdown</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="act-stat-item py-2 px-3">
                                <i class='bx bx-dollar-circle mb-2 fs-3' ></i>
                                <span class="">10</span>
                                <p>Trading Days</p>
                            </div>
                        </div>
                        
                    </div>

                </div>

                <!-- Trading Objectives -->
                <div class="act-trade-obj act-card px-3 py-3 mb-4">
                    <div class="fw-bold d-flex align-items-center">
                        <i class='bx bxs-briefcase-alt-2 fs-2 pe-3'></i>
                        <span class="fw-bold fs-4 ">Trading Objectives</span>
                    </div> 
                    <div class="vert-divider">

                    </div>
                    <div class="py-3 row gy-3">
                        <div class="col-12 col-lg-6">
                            <div class="act-trade-obj-item p-2">
                                <div class="d-flex">
                                    <div class="act-trade-obj-icon me-2">
                                        <i class='bx bxs-check-circle fs-5 mx-auto text-primary'></i>
                                    </div>
                                    <div>
                                        <p class="fw-bolder">Daily Loss Limit : </p>
                                        <span>Max Loss Limit: $1,250.00</span>
                                        <p class="fw-bolder">Today's Permitted Loss: <span class="text-primary fw-bold">$2500</span> </p>
                                    </div>
                                </div>
                                <button class="px-2 fw-bold"><i class='bx bxs-circle pe-1 text-primary'></i>Ongoing</button>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="act-trade-obj-item p-2">
                                <div class="d-flex">
                                    <div class="act-trade-obj-icon me-2">
                                        <i class='bx bxs-check-circle fs-5 mx-auto text-primary'></i>
                                    </div>
                                    <div>
                                        <p class="fw-bolder">Overall Loss Limit : </p>
                                        <span>Max Loss Limit: $2,500.00</span>
                                        <p class="fw-bolder">Max Permitted Loss: <span class="text-primary fw-bold">$5,000</span></p>
                                    </div>
                                </div>
                                <button class="px-2 fw-bold"><i class='bx bxs-circle pe-1 text-primary'></i>Ongoing</button>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="act-trade-obj-item p-2">
                                <div class="d-flex">
                                    <div class="act-trade-obj-icon me-2">
                                        <i class='bx bxs-check-circle fs-5 mx-auto text-success'></i>
                                    </div>
                                    <div>
                                        <p class="fw-bolder">Minimum Trading Days : </p>
                                        <span>Minimum Days: 10</span>
                                        <p class="fw-bold">Current Result: <span class="fw-bold text-success">5 Days</span></p>
                                    </div>
                                </div>
                                <button class="px-2 fw-bold"><i class='bx bxs-circle pe-1 text-success'></i>Ongoing</button>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="act-trade-obj-item p-2">
                                <div class="d-flex">
                                    <div class="act-trade-obj-icon me-2">
                                        <i class='bx bxs-check-circle fs-5 mx-auto text-success'></i>
                                    </div>
                                    <div>
                                        <p class="fw-bolder">Profit Target </p>
                                        <span>Minimum: $6, 250 </span>
                                        <p class="fw-bolder">Current Result: <span class="fw-bold text-success">$12,500</span></p>
                                    </div>
                                </div>
                                <button class="px-2 fw-bold btn-green"><i class='bx bxs-circle pe-1 text-success'></i>Ongoing</button>
                            </div>
                        </div>
                        
                    </div>

                </div>

                <!-- Consistency Objectives -->
                <div class="act-trade-obj act-card px-3 py-3">
                    <div class="fw-bold d-flex align-items-center">
                        <i class='bx bx-globe fs-2 pe-3' ></i>
                        <span class="fw-bold fs-4 ">Consistency Objectives</span>
                    </div> 

                    <div class="vert-divider mb-2"></div>

                    <!-- Table -->
                    <table class="table">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Consistency</th>
                                <th scope="col">Current Avg.</th>
                                <th scope="col">Overall Avg.</th>
                                <th scope="col">Upper Limit</th>
                                <th scope="col">Lower Limit</th>
                                <th scope="col">Standard Deviation</th>
                              </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Trade</th>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>2</td>
                              </tr>
                              <tr>
                                <th scope="row">Lot</th>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>2</td>
                              </tr>
                        </tbody>
                    </table>

                </div>

            </div>
            <div class="col-12 col-md-4">
                <div class="act-others px-2 py-2">
                    <div class="act-growth mx-auto py-4">
                        <p>Account Growth</p>
                        <p>10%</p>
                    </div>
                    <div class="vert-divider mt-2"></div>
                </div>
            </div>
        </div>
    </div>


</div>
