<div class="contain px-4 py-3">
    
    <div class="act-overview  mb-2">
        <div class="mb-2 d-flex justify-content-between align-items-center act-overview-header">
            <span class="fs-3 fw-bold">Account: </span>  
            <button class="fw-bold btn-login px-3 py-2">Login Credentials</button>
        </div>

        <div class="act-summary row px-1 py-3">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="act-stat-item fw-bold py-3 ">
                    <p class="fs-5">Account Size</p>
                    <span class=" fs-3">$50,000</span>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="act-stat-item px-3 fw-bold py-3">
                    <p class="fs-4">Equity</p>
                    <span class="fs-3">$52,000</span>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="act-stat-item px-3 fw-bold py-3">
                    <p class="fs-4">Start Date</p>
                    <span class="fs-3">12-01-2024</span>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="act-stat-item px-3 fw-bold py-3">
                    <p class="fs-4">End Date</p>
                    <span class="fs-3">12-01-2024</span>
                </div>
            </div>
        </div>

    </div>

    <div class="act-statistics">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="act-others px-2 py-2 mb-3">
                    <div class="act-growth mx-auto py-4">
                        <p class="fs-3">Account Growth</p>
                        <p class="fs-1">4%</p>
                    </div>
                    <div class="vert-divider mt-4"></div>
                    <div class="mt-4">
                        <p>Today Trading Day Ends In</p>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-8 px-0">
                <!-- Stats -->

                <!-- Trading Objectives -->
                <div class="act-trade-obj act-card px-3 py-3 mb-4">
                    <div class="fw-bold d-flex align-items-center">
                        <i class='bx bxs-briefcase-alt-2 fs-2 pe-3'></i>
                        <span class="fw-bold fs-4 ">Trading Objectives</span>
                    </div> 
                    <div class="vert-divider">

                    </div>
                    <div class="py-3 row gy-3">
                        <div class="col-12 col-lg-6">
                            <div class="act-trade-obj-item p-2">
                                <div class="d-flex">
                                    <div class="act-trade-obj-icon me-2">
                                        <i class='bx bxs-check-circle fs-5 mx-auto text-primary'></i>
                                    </div>
                                    <div>
                                        <p class="fw-bolder">Daily Loss Limit : </p>
                                        <span>Max Loss Limit: $1,250.00</span>
                                        <p class="fw-bolder">Today's Permitted Loss: <span class="text-primary fw-bold">$2500</span> </p>
                                    </div>
                                </div>
                                <button class="px-2 fw-bold"><i class='bx bxs-circle pe-1 text-primary'></i>Ongoing</button>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="act-trade-obj-item p-2">
                                <div class="d-flex">
                                    <div class="act-trade-obj-icon me-2">
                                        <i class='bx bxs-check-circle fs-5 mx-auto text-primary'></i>
                                    </div>
                                    <div>
                                        <p class="fw-bolder">Overall Loss Limit : </p>
                                        <span>Max Loss Limit: $2,500.00</span>
                                        <p class="fw-bolder">Max Permitted Loss: <span class="text-primary fw-bold">$5,000</span></p>
                                    </div>
                                </div>
                                <button class="px-2 fw-bold"><i class='bx bxs-circle pe-1 text-primary'></i>Ongoing</button>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="act-trade-obj-item p-2">
                                <div class="d-flex">
                                    <div class="act-trade-obj-icon me-2">
                                        <i class='bx bxs-check-circle fs-5 mx-auto text-success'></i>
                                    </div>
                                    <div>
                                        <p class="fw-bolder">Minimum Trading Days : </p>
                                        <span>Minimum Days: 10</span>
                                        <p class="fw-bold">Current Result: <span class="fw-bold text-success">5 Days</span></p>
                                    </div>
                                </div>
                                <button class="px-2 fw-bold"><i class='bx bxs-circle pe-1 text-success'></i>Ongoing</button>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="act-trade-obj-item p-2">
                                <div class="d-flex">
                                    <div class="act-trade-obj-icon me-2">
                                        <i class='bx bxs-check-circle fs-5 mx-auto text-success'></i>
                                    </div>
                                    <div>
                                        <p class="fw-bolder">Profit Target </p>
                                        <span>Minimum: $6, 250 </span>
                                        <p class="fw-bolder">Current Result: <span class="fw-bold text-success">$12,500</span></p>
                                    </div>
                                </div>
                                <button class="px-2 fw-bold btn-green"><i class='bx bxs-circle pe-1 text-success'></i>Ongoing</button>
                            </div>
                        </div>
                        
                    </div>

                </div>

                <!-- Consistency Objectives -->
                <div class="act-trade-obj act-card px-3 py-3">
                    <div class="fw-bold d-flex align-items-center">
                        <i class='bx bx-globe fs-2 pe-3' ></i>
                        <span class="fw-bold fs-4 ">Consistency Objectives</span>
                    </div> 

                    <div class="vert-divider mb-2"></div>

                    <!-- Table -->
                    <table class="table">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Consistency</th>
                                <th scope="col">Current Avg.</th>
                                <th scope="col">Overall Avg.</th>
                                <th scope="col">Upper Limit</th>
                                <th scope="col">Lower Limit</th>
                                <th scope="col">Standard Deviation</th>
                              </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Trade</th>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>2</td>
                              </tr>
                              <tr>
                                <th scope="row">Lot</th>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>2</td>
                              </tr>
                        </tbody>
                    </table>

                </div>

            </div>
            
        </div>
    </div>


</div>
